.App {
  text-align: center;
  cursor: url('./assets/images/pointer.png'), auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: url("./assets/images/red-blocks.jpg");
}
