.footer-container{
    background: url("../../assets/images/animated-rock.png");
    background-repeat: repeat;
    background-size: 100% 100%;
    border-top: 5px solid black;
    height: 29vw;
    width: 100%;
}
.footer-wrapper{
    display: flex;
    text-align: center;
    margin: 4% 24%;
}
.footer-wrapper > div{
    margin: 40px;
}
.footer-wrapper > div > p{
    font-weight: 900;
    color: white;
    text-shadow: 3px 3px 3px black;
}
/*-------------------- ICONS START ----------------------*/
.email-icon{
    background: url("../../assets/icon/email-icon.png");
    background-size: 80px 80px;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
}
.linkedin-icon{
    background: url("../../assets/icon/linkedin-icon.png");
    background-size: 80px 80px;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
}
.github-icon{
    background: url("../../assets/icon/github-icon.png");
    background-size: 80px 80px;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
}
.standars-icon{
    background: url("../../assets/icon/standars-icon.png");
    background-size: 80px 80px;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
}
.coded-icon{
    background: url("../../assets/icon/codeed-by-icon.png");
    background-size: 80px 80px;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
}
/*-------------------- ICONS END ----------------------*/


/*-------------------- DESCRIPTION ----------------------*/

.headline{
position: absolute;
    margin: 5px -10px;
    color: white;
    font-weight: 900;
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
}
.sta-letter{
    width: 105px;
    margin: 3px -20px;
    color: white;
    font-weight: 900;
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
}
/*-------------------- HOVER AND KEYFRAMES ----------------------*/
.github-icon:hover{
    transition: 0.9s;
    transform: rotateY(360deg);
}
.linkedin-icon:hover{
    animation: shake 1s infinite linear;
}
.email-icon:hover{
    animation: lightning 1s infinite linear;
}
.standars-icon:hover{
    animation: beat 1s infinite linear;
}
.coded-icon:hover{
    animation: wiggle 1s infinite linear;
}
@keyframes wiggle {
    0% { transform:rotate(1deg); }
    29% { transform:rotate(1deg); }
    30% { transform:rotate(2deg); }
    31% { transform:rotate(3deg); }
    33% { transform:rotate(2deg); }
    35% { transform:rotate(1deg); }
    37% { transform:rotate(-2deg); }
    39% { transform:rotate(-3deg); }
    41% { transform:rotate(-2deg); }
    43% { transform:rotate(2deg); }
    45% { transform:rotate(3deg); }
    47% { transform:rotate(3deg); }
    49% { transform:rotate(2deg); }
    51% { transform:rotate(1deg); }
    53% { transform:rotate(-2deg); }
    55% { transform:rotate(-3deg); }
    57% { transform:rotate(-2deg); }
    59% { transform:rotate(1deg); }
    100%{ transform:rotate(1deg); }

}
@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lightning {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}
/*-------------------- HOVER AND KEYFRAMES ----------------------*/
