/* ----------- LOGOS + ANIMATION ----------- */
.logos{
  margin: 0 15px;
  user-select: none;
  outline: none;
}
.logos:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.register-logo{
  background: url("../../assets/icon/register-icon.png");
  height: 50px;
  background-size: 55px 50px;
  width: 55px;
  background-repeat: no-repeat;
  border: none;
}
.login-logo{
  background: url("../../assets/icon/login-icon.png");
  height: 50px;
  background-size: 55px 50px;
  width: 55px;
  background-repeat: no-repeat;
  border: none;
}
.logout-logo{
  background: url("../../assets/icon/logout-icon.png");
  height: 50px;
  background-size: 55px 50px;
  width: 55px;
  background-repeat: no-repeat;
  border: none;
  margin: 10px 30px;
}
/* ----------- LOGOS + ANIMATION END ------- */




/* ----------- MODAL ----------- */
.login-form, .register-form{
  margin:auto;
}
.login-dialog, .register-dialog{
  top: 25%;
  left: 38%;
  border: 1px solid rgba(0,0,0,.1);
  width: 400px;
  height: auto;
  padding: 28px 0;
  position: fixed;
  background: #fafafa;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.form-btn{
  margin: auto;
  font-weight: 900;
  cursor: pointer;
  transition: color 0.3s ease;
}

.form-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color:#c62d1f;
  color:#eeeeee;
}
.form-btn:active {
  position:relative;
  top:1px;
}
.btn{
  background-color: #fff;
  text-decoration: none;
  cursor:pointer;
  font-size: 12px;
  height: 30px;
  width: 90px;
  border-radius: 25px;
  font-weight: 900;
  outline:none;
}

.flex {
  display: flex;
}
.modern-input-text{
  display: block;
  width: 300px;
  border-radius: 5px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
}

.close-thik{
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 20px;
}
.close-thik:hover {
color:red;
cursor: pointer;
transition: color 0.3s ease;

}
.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

/* ----------- END modal ----------- */


.nav-wrapper-left{
  margin: 15px;
}
.nav-wrapper-right {
  margin: 10px 50px;
}
.btn1, .btn2, .btn3 {
   background-color: #fff;
   text-decoration: none;
   cursor:pointer;
   font-size: 12px;
   height: 30px;
   width: 90px;
   border-radius: 25px;
   font-weight: 900;
   border: none;
   outline:none;
}

.btn1, .btn2 {
  height: 35px;
  margin-right: 20px;
}
.display-username{
  font-weight: 700;
  margin: 25px 15px;
  color: black;
}
#logout:hover {
cursor: pointer;
}

.nav-wrapper {
  border-bottom: 4px solid black;
position: fixed;
top: 0;
left: 0;
z-index: 10;
width: 100%;
height: 70px;
background-color:white;
display: flex;


}
.nav-opts{
margin-left: auto;
display: flex;
}


/*---------------------- HAMBURRGUER MENU --------------------------*/
#menuToggle
{
  display: block;
  position: absolute;
  top: 16px;
  left: 18px;
  z-index: 13;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 13; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 34px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background:black;
  border-radius: 3px;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
  z-index: 13;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
  z-index: 13;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Oh yeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  background: url("../../assets/images/nav-background.jpg");
  background-size: 100% 100%;
  position: absolute;
  color: black;
  width: 1050px;
  margin: 31px 0 0 -80px;
  /* border-radius: 10px 10px 10px 10px; */
  /* padding: 50px; */
  height: 380px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  color: white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  /* border: 3px solid black; */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}



#menu li
{
  /*padding: 10px 44px;*/
  font-size: 22px;
  color:black;
  margin: 33px 26px 0 45px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.li-home{
  background: white;
  border-radius: 19px;
  border: 3px solid black;
  height: 80px;
  width: 477px;
}
.li-categories{
  background: white;
  border-radius: 19px;
  border: 3px solid black;
  height: 80px;
  width: 477px;
  float: right;
}
.li-addPet{
  background: white;
  border-radius: 19px;
  border: 3px solid black;
  height: 80px;
  width: 477px;
}
.li-contact{
  background: white;
  border-radius: 19px;
  border: 3px solid black;
  float: right;
  height: 80px;
  width: 477px;
}

/*---------------------- HAMBURRGUER MENU --------------------------*/


