/* ----------- MODAL ----------- */
.login-logo{
  background: url("../../assets/images/login-icon.png");
  height: 50px;
  background-size: 55px 50px;
  width: 55px;
  background-repeat: no-repeat;
  border: none;
}
.login-form, .register-form{
  margin:auto;
}
.login-dialog, .register-dialog{
  top: 25%;
  left: 38%;
  border: 1px solid rgba(0,0,0,.1);
  width: 400px;
  height: auto;
  padding: 28px 0;
  position: fixed;
  background: #fafafa;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.form-btn{
  margin: auto;
  font-weight: 900;
  cursor: pointer;
  transition: color 0.3s ease;
}

.form-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color:#c62d1f;
  color:#eeeeee;
}
.form-btn:active {
  position:relative;
  top:1px;
}
.btn{
  background-color: #fff;
  text-decoration: none;
  cursor:pointer;
  font-size: 12px;
  height: 30px;
  width: 90px;
  border-radius: 25px;
  font-weight: 900;
  outline:none;
}

.flex {
  display: flex;
}
.modern-input-text{
  display: block;
  width: 300px;
  border-radius: 5px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
}

.close-thik{
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 20px;
}
.close-thik:hover {
color:red;
cursor: pointer;
transition: color 0.3s ease;

}
.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

/* ----------- END modal ----------- */







.nav-wrapper-left{
  margin: 15px;
}
.nav-wrapper-right {
  margin: 10px 50px;
}
.btn1, .btn2, .btn3 {
   background-color: #fff;
   /*padding: 1em 1.5em;*/
   text-decoration: none;
   cursor:pointer;
   font-size: 12px;
   height: 30px;
   width: 90px;
   border-radius: 25px;
   font-weight: 900;
   border: none;
   outline:none;
}

.btn1, .btn2 {
  height: 35px;
  margin-right: 20px;
}
.display-username{
  font-weight: 700;
  margin: 15px;
  color: #ffffff;
}
#logout:hover {
cursor: pointer;
}

.nav-wrapper {
position: fixed;
top: 0;
left: 0;
z-index: 10;
width: 100%;
height: 70px;
background-color:white;
display: flex;


}
.nav-opts{
margin-left: auto;
display: flex;
}

